body{
  background: rgb(58,58,58);
  margin: 0;
  padding: 0;
}

header{
  background-color: black;
  background-image: url("../../images/hero.jpeg");
  height: 400px;
  padding: 20px;
  text-align: center;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}

header .logo a {
  background-image: url("../../images/Logo2.png");
  background-size: 275px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 80px;
  position: relative;
  text-indent: -9999999px;
  top: -20px;
  width: 300px;

}

section{
  background: white;
  padding: 20px;
  color: grey;
  display: flex;
  flex-direction: row;
}

footer{
  background: black;
  padding: 10px 20px;
  color: white;
}

section div{
  background: red;
  margin: auto;
  width: 100px;
  padding-left: 10px;
}

section .lower-section{
  background: gray;
  opacity: 0.9;
  margin: auto;
  width: 100px;
  padding-left: 10px;
  color: white;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{
  display: inline-block;
  margin-right: 20px;
  background: grey;
  border-radius: 3px;
  padding: 5px;
}

a{
  text-decoration: none;
}

a:active{
  background: white;
}

a:hover{
  text-decoration: underline;
}

li:hover{
  background-color: red;
}
li:first-child{
  background: tomato;
}
